.newsletter{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10vh 15vh;
    margin-bottom: 10vh;
    background: linear-gradient(180deg, rgba(253,225,255,1), rgba(179,160,160,1) 60%);   
    border-radius: 5px;
}

.newsletter h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.newsletter p{
    color: #171717;
    font-size: 20px;
    font-weight: 600;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 80%;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    margin: 2% 0%;
}
.newsletter div input{
    width: 500px;
    margin-left: 2vh;
    border: none;
    outline: none;
    font-family: 'poppins';
    font-size: 14px;
}
.newsletter div button{
    width: 150px;
    height: 50px;
    border-radius: 80px;
    background-color: black;
    color: white;
    cursor: pointer;
}
@media screen and (max-width:1280px) {
    .newsletter{
        padding: 10vh 10vh;
        gap: 25px;
    }
    .newsletter h1{
        font-size: 35px;
    }
    .newsletter p{
        font-size: 18px;
    }
    .newsletter div{
        height: 45px;
    }
    .newsletter button{
        height: 47px !important;
        /* border-radius: 50px; */
    }
}
@media screen and (max-width:1024px) {
    .newsletter{
        padding: 10vh 08vh;
        gap: 25px;
    }
    .newsletter h1{
        font-size: 33px;
    }
    .newsletter p{
        font-size: 18px;
    }
    .newsletter div{
        height: 40px;
    }
    .newsletter button{
        height: 42px !important;
        /* border-radius: 50px; */
    }
}
@media screen and (max-width:800px) {
    .newsletter{
        padding: 10vh 08vh;
        gap: 25px;
    }
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter p{
        font-size: 17px;
    }
    .newsletter div{
        height: 40px;
    }
    .newsletter button{
        height: 42px !important;
        /* border-radius: 50px; */
    }
}
@media screen and (max-width:500px) {
    .newsletter{
        padding: 10vh 08vh;
        gap: 20px;
    }
    .newsletter h1{
        font-size: 25px;
    }
    .newsletter p{
        font-size: 15px;
    }
    .newsletter div{
        height: 30px;
    }
    .newsletter button{
        height: 32px !important;
        /* border-radius: 50px; */
    }
}